* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f5f8ff;
}
/* header section  */
.header {
  background-image: url('../B12A01-landing-launchpad/Assets/Hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
/* nav style  */
.title {
  padding-top: 50px;
  margin: 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title {
  font-weight: 800;
  font-size: 34px;
  color: #4e47ff;
}
.btn {
  background-color: #4e47ff;
  color: #ffff;
  font-weight: bold;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}
.btn:hover {
  color: rgb(252, 252, 252);
  transform: scale(1.05);
  cursor: pointer;
  opacity: 0.9;
  background-color: rgb(191, 0, 255);
  box-shadow: 0 8px 20px rgb(54, 54, 56);
}
.b-margin {
  margin-top: 37px;
}
.bannar {
  display: inline-block;
  text-align: center;
  align-items: center;
  width: 905px;
  height: 237px;
  margin: 158px 267px 152px 267px;
}
.bannar-content {
  font-weight: bold;
  font-size: 64px;
  color: #252432;
}

/* header close */
/* section1  */
.section1 {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 120px auto;
}
.section1-content {
  display: inline-block;
  justify-content: space-between;
  width: 517px;
  height: 203px;
}
.section1-title {
  font-size: 40px;
  color: #252432;
  font-weight: bold;
  padding-bottom: 23px;
}
.section1-pragraph {
  font-size: 24px;
  font-weight: bold;
  color: #252432;
  padding-bottom: 23px;
}
.section1-img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
  overflow: hidden;
}
/* section1 close */
/*  section2  */
.section2 {
  background-color: #cccaf0fa;
  max-width: 1140px;
  height: 306px;
  margin: 0 auto;
  border-radius: 24px;
  text-align: center;
}
.section2-containar {
  padding: 50px 80px;
}
.section2-content {
  display: flex;
  justify-content: space-between;
  margin: 0 142px;
  gap: 140px;
}
.section2-heading {
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 40px;
}
.section2-main-heading {
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
}
.section2-pragraph {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

/* section2 close */

/* box contant start  */
.contant {
  gap: 50px;
}
.contant-box {
  max-width: 1140px;
  height: 342px;
  margin: 137px auto;
}
.box-contant {
  display: flex;
  justify-content: space-between;
}
.box-contant-title {
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.box-containar {
  width: 366px;
  border-radius: 15px;
  padding: 24px;
  margin-right: 24px;
  border: 0;
  background-color: #ffffff;
  color: #000000;
}
.rount-img {
  border-radius: 50%;
}
.gap {
  padding-bottom: 24px;
}
.costomar {
  display: flex;
  gap: 14px;
}
/* box contant end */


